*{
    padding:0;
    margin:0;  
}

body{
    background: linear-gradient(152.63deg, #FAB246 3.54%, #E7E3FF 47.2%, #9787F7 98.45%, #E7E3FF 108.95%);  
}

.container{
    max-width:1440px;
    margin:0 auto;
}

.right_empty_block{
    width:200px;
    height: 200px;
}

.group_elem_wrap{
    display: flex;
    justify-content: space-around;
}

.authorization_block{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap:147px;
}

.left_empty_block{
    width:160px;
    height: 200px;
}
.right_empty_block{
    width:100px;
    height: 200px;
}
.img_pass-one{
    display: block;
    width:146px;
    height: 194px;
}

.reg_items, .auth_items {
    text-decoration: none;
    text-align: center;
    line-height: 56px;
    width: 173px;
    display: block;
    background: linear-gradient(360deg, rgb(250, 201, 23) 20.83%, rgb(222, 147, 34) 100%);
    box-shadow: rgba(0, 0, 0, 0.25) 4px 4px 10px;
    border-radius: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    color: rgb(255, 255, 255);
}

.img_pass-four{
    display: block;
    width:377px;
    height: 503px;
}
.img_pass-two{
    display: block;
    width:118px;
    height: 157px;
}

.header-wrap{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    margin-top:43px;
    position: relative;
}

.search{
    position: relative;
    display: flex;
    padding-top: 10px;
    padding-left:20px;
    padding-bottom: 10px;
    border-radius: 20px;
    width:367px;
    align-items: center;
    background-color: #9688E7;
    cursor: pointer;
}

.search_img{
    vertical-align: middle;
    position:absolute;
    top:15px;
    right:20px;
}

.footer_wrap{
    display: flex;
    justify-content:space-around;
    margin-top:208px;
    align-items: center;
    background: #7D77A5;
}

.logo_img{
    width:260px;
    height:78px;
}

.logo_items{
    margin-left:15px;
}

.contacts_wrap{
    list-style-type: none;
    position: relative;
}

.contacts_items-phone, .contacts_items-email, .contacts_items-address{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: #1E1E1E;
    padding-top:19px;
    font-weight: 700;
}

.contacts_items-phone::before{
    content:url('');
    background-image: url('../img/phone.png');
    background-size: contain;
    background-repeat: no-repeat;
    width:20px;
    height: 20px;
    cursor: pointer;
    color: #1E1E1E;
    display: inline-block;
    padding-right: 20px;
    background-position: center;
    vertical-align: middle;
  
}

.contacts_items-email::before{
    content:url('');
    background-image: url('../img/email_footer.png');
    background-size: contain;
    background-repeat: no-repeat;
    width:20px;
    height: 20px;
    cursor: pointer;
    color: #1E1E1E;
    display: inline-block;
    padding-right: 20px;
    background-position: center;
    vertical-align: middle;
  
}

.contacts_items-address::before{
    content:url('');
    background-image: url('../img/address.png');
    background-size: contain;
    background-repeat: no-repeat;
    width:20px;
    height: 20px;
    cursor: pointer;
    color: #1E1E1E;
    display: inline-block;
    padding-right: 20px;
    background-position: center;
    vertical-align: middle;
  
}

.visit_btn{
    display: block;
    width: 173px;
    height: 61px;
    background: linear-gradient(95.92deg, #FFCD29 -5.91%, #DE9322 94.33%);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    line-height: 61px;
    margin:0 auto;
    margin-top:57px;
    margin-bottom:731px; 
}

.footer_social-list{
    display: flex;
    justify-content: center;
    list-style-type: none;
    width:174px;
    gap:39px;
}

.support{
    text-decoration: none;
    display: block;
    width: 174px;
    height: 46px;
    text-align: center;
    line-height: 46px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    text-transform: uppercase;
    background: linear-gradient(180deg, #FFCD29 0%, #DE9322 100%);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.error_text{
    display:none;
}

.auth_form{
    display: flex;
    flex-direction: column;
    width:380px;
    align-items: center;
}

.authorizstion_header{

    display: flex;
    flex-direction: row;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 40px;
    color: #313131;
}
.recovery_header{
    display: flex;
    flex-direction: row;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 40px;
    color: #313131;
    display:none;
}

.forgot_password{
    align-self: flex-end;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: #313131;
}

.img_auth{
    background-image: url('../img/user_auth.png');
    width:91px;
    height:91px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top:74px;
    margin-bottom:50px;
}

.img_pass-three{
    display: block;
    margin-top: 280px;
    width:88px;
    height: 117px;
    transform: rotate(-21.15deg);
}

.send_btn{
    display: none;
    width: 173px;
    height: 61px;
    background: linear-gradient(95.92deg, #FFCD29 -5.91%, #DE9322 94.33%);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
    border:none;
    margin-top:38px;
    margin-bottom:63px;
    cursor:pointer;
}
.forgot_password{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: #313131;
    margin-top:7px;
    border:none;
    background: none;
    cursor: pointer;
}

.login-password_group{
    display: flex;
    flex-direction: column;
    gap:17px;
}

.auth_items{
    width: 366px;
    height: 57px;
    text-align: center;
    background: #FFFFFF;
    border-radius: 20px;
    border: 2px solid #DE9322;
}

.auth_items::placeholder{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
}

.error_text{
    color: #013DB7;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
}

.open_btn{
    position:relative;
    width: 173px;
    height: 61px;
    background: linear-gradient(95.92deg, #FFCD29 -5.91%, #DE9322 94.33%);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
    border:none;
    margin-top:38px;
    margin-bottom:63px;
    cursor:pointer;
}

.open_btn::before{
    content: '';
    position: absolute;
    top: 15px;
    left: 20px;
    width: 24px;
    height: 24px;
    background-image: url(../img/arrow-auth.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.account_no{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #313131;
}

.registration_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #FF4545;
}

.new-password_items{
    margin-top:32px;
    width: 366px;
    height: 57px;
    text-align: center;
    background: #FFFFFF;
    border-radius: 20px;
    font-weight: 300;
    font-size: 25px;
    border: 2px solid #DE9322;
    color: #757575;
}

.save_btn{
    width: 173px;
    height: 61px;
    background: linear-gradient(95.92deg, #FFCD29 -5.91%, #DE9322 94.33%);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
    border:none;
    margin-top:38px;
    margin-bottom:63px;
    cursor:pointer;
}

@font-face {
    font-family: "inter";
    src: url("inter.woff") format("woff"),
    url("/fonts/inter") format("woff");
    font-weight: normal;
    font-style: normal;
}

.reg_items, .auth_items {
    text-decoration: none;
    text-align: center;
    line-height: 56px;
    width: 173px;
    display: block;
    background: linear-gradient(360deg, rgb(250, 201, 23) 20.83%, rgb(222, 147, 34) 100%);
    box-shadow: rgba(0, 0, 0, 0.25) 4px 4px 10px;
    border-radius: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.change_items{
    text-decoration: none;
    text-align: center;
    line-height: 56px;
    display: block;
    border-radius: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: #757575;
    width:366px;
}

.reg-auth_btn-block {
    display: flex;
    width:387px;
    justify-content: space-between;
}

.reg_items {
    position: relative;
    margin-bottom: 15px;
}

.reg_items-no-svg {
    position: relative;
    margin-bottom: 15px;
    text-decoration: none;
    text-align: center;
    line-height: 56px;
    width: 173px;
    display: block;
    background: linear-gradient(360deg, #FAC917 20.83%, #DE9322 100%);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    color: #ffffff;
    text-transform: uppercase;
}

.reg_items::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
    width: 24px;
    height: 24px;
    background-image: url(../img/arrow-auth.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.office_items {
    position: relative;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    color: rgb(49, 49, 49);
    text-decoration: none;
    padding-right: 5px;
}

.office_items::before {
    display: inline-block;
    content: url(office_needy.css);
    background-image: url(../img/email.png);
    background-size: contain;
    width: 26px;
    height: 26px;
    color: rgb(49, 49, 49);
    vertical-align: middle;
    padding-right: 20px;
    background-repeat: no-repeat;
}

.exit_items {
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    color: rgb(49, 49, 49);
    text-decoration: none;
    border-left: 2px solid rgb(49, 49, 49);
    padding-left: 5px;
}

.office-exit_btn-block {
  position: relative;  
}

.office-exit_btn-block::before {
    content: "0";
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    z-index: 4;
    bottom: 10px;
    left: 15px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 69, 69);
    background-repeat: no-repeat;
}

.reg-auth_btn-block {
    justify-content: space-around;
    width: 160px;
    height: 40px;
    line-height: 40px;
    font-size: 8px;
    gap: 10px;
}

@media  (max-width: 425px){
    html, body {
        overflow-x: hidden;
      }

      body {
        position: relative
      }

    .container{
        padding:0;
    }

    .header-wrap{
        justify-content: space-around;
        margin-bottom:30px;
        margin-top:15px;
    }

    .office_items, .exit_items{
        font-size: 10px;
    }
  
    .logo_wrap{
        padding:0;
    }
  
    .logo_img{
        width:60px;
        height: 30px;
    }

    .img_needy{
        width:170px;
        height: 170px;
    }
    
    .search-logo_wrap{
        padding:0;
    }

    .footer_wrap{
        justify-content: flex-start;
        margin-top:150px;
        margin-left:0;
        margin-right:0;
        }
        
    .support{
        width: 150px;
        height: 40px;
        font-size: 10px;
        line-height: 40px;
        margin-right: 20px;
        margin-top:30px;
    }

    .footer_social-list{
        gap:10px;
        width:100px;
    }

    .youtube, .telegram{
        width:25px;
    }
    
    .contacts_items-addres::before{
      width:20px;
      height: 20px;
    }
    
    .contacts_items-address{
        display: flex;
        align-items: center;
        padding-bottom: 19px;
        
    }

    .reg_items, .auth_items {
        width: 100px;
        height: 30px;
        line-height: 30px;
        font-size: 8px;
    }

    .reg_items::before {
        width: 12px;
        height: 12px;
        left: 7px;
        top: 9px;
    }

    .reg_items-no-svg {
        width: 100px;
        height: 30px;
        line-height: 30px;
        font-size: 8px;
    }

    .authorizstion_header {
       font-size: 14px;
    }

    .img_pass-two, .img_pass-one {
        width: 57px;
        height: 60px;
    }

    .img_pass-three{
        opacity:0;
    }

    .left_empty_block {
        width: 70px;
        height: 100px;
    }

    .authorization_block {
        gap: 30px;
    }

    .img_auth {
       width:50px;
       height: 50px;
    }

    .auth_form {  
        width: 100px;
    }

    .login-password_group, .new-password_items {
        gap: 10px;
        width: 280px;
        font-size: 14px;
    }

    .forgot_password {
      width:230px;
    }

    .img_pass-four {
        display: block;
        width: 177px;
        height: 200px;
    }

    .change_items {
       width:100%;
       font-size: 14px;
    }

    .recovery_header{
        font-size: 14px;
    }

    .logo_img-footer {
        padding-left: 40px;
    }

.support {
    width: 120px;
    height: 30px;
    font-size: 8px;
    line-height: 30px;
    margin-right: 5px;
}
    
  
}


@media (min-width: 425px) and (max-width: 1200px){
    html, body {
        overflow-x: hidden;
      }
      
      body {
        position: relative
      }

    .container{
        padding:0;
    }

    .logo_img {
        width: 100px;
        height: 50px;
    }

    .reg_items, .reg_items-no-svg {
        width: 140px;
        height: 56px;
    }

    .authorizstion_header {
       font-size: 18px;
    }

    .support {
       margin-right: 80px;
    }

    .footer_social-list {
        gap: 20px;
    }

   .support{
       width: 120px;
       height: 30px;
       font-size: 8px;
       line-height: 30px;
       margin-right: 5px;
       margin-top:30px;
   }

   .footer_social-list{
        display: flex;
        justify-content: center;
       gap:20px;
   }
   .youtube, .telegram{
       width:25px;
   }

   .contacts_items-phone::before{
       right:112px;
       top:10px;
   }
   .contacts_items-email::before {
       right:112px;
       top:35px;
   }

   .contacts_items-address::before {
       right:112px;
       top:65px;
   }

   .contacts_items-phone, .contacts_items-email, .contacts_items-address {
       padding-top:12px;
   }

   .img_pass-four {
        width:200px;
        height: 250px;
}

.authorization_block {
    gap: 47px;
}

.img_pass-two {
    width: 100px;
    height: 120px;
}

.img_pass-one {
    display: block;
    width: 125px;
    height: 170px;
}

.right_group-block {
    padding-right: 20px;
}

.reg-auth_btn-block {
    width: 300px;
}

.contacts_items-address{
    padding-bottom: 19px;
}

.logo_img-footer{
    padding-left: 40px;
 }

 .header-wrap{
    justify-content: space-around;
 }



}


