*{
    padding:0;
    margin:0;
}

body{
    background-image: url('../img/background_page.jpg');
    background-repeat: no-repeat;
    background-size: cover;   
}

.container{
    max-width:1440px;
    margin:0 auto;  
}

.clear{
    display: none;
}

.header-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top:71px;
    position: relative;
    margin-bottom:147px;   
}

.img_registration{
    display: block;
    width:333px;
    height: 333px;
    background-size: contain;
}

.search{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    border-radius: 20px;
    width:463px;
    align-items: center;
    background-color: #9688E7;
    cursor: pointer;
}

.right_group-block{
    display: none;
}

.search_img{
    vertical-align: middle;
    position:absolute;
    top:15px;
    left:20px;
}

.site-search{
    width:336px;
    height: 37px;
    padding-left:24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border:none;
}

.search-img_block{
    line-height: 37px;
}

.logo_wrap{
    padding-top:20px;
    padding-left:150px;
}

.input_block-img{
    position: relative;
}

.input_domload{
    position: absolute;
    opacity: 0;
    z-index: 5;
    top: 300px;
    height: 300px;
    width: 320px;
    cursor: pointer;
}

.registration_header{
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 40px;
    color: #1E1E1E;
}

.registration{
    margin-top:62px;
}

.field_header{
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
}

.info_block{
    display: flex;
    position:relative;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.form-group_block{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
}

.registration-img_block{
    position:relative;
    width: 333px;
    height: 333px;
    border-radius: 18px;
    background-color:#D2CCF2;
    text-align: center;
    line-height: 333px;
    color:#757575;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    margin-right: 53px;
    cursor: pointer;
    margin-top:46px;
}

.fio{
    width: 177px;
    height: 57px;
    left: 633px;
    background: #FFFFFF;
    border: 2px solid #DE9322;
    border-radius: 20px;
    text-align: center;
}

.registration-block{
    position:relative;
}

.items_info-block{
    position: relative;
}

.items_info-block::before{
    content:'';
    color: #FF0000;
    left:0;
    top:5px;
    position: absolute;
    width:10px;
    height:10px;
    background-image: url('../img/star-red.png');
}

.before_star-block::before{
    top:5px;
    content:'';
    color: #FF0000;
    right:175px;
    position: absolute;
    width:10px;
    left:0;
    height:10px;
    background-image: url('../img/star-red.png');
}

.fio_block{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.input_items{
    display:block;
    text-align: center;
    width: 560px;
    height: 57px;
    border: 2px solid #DE9322;
    border-radius: 20px;
    background: #FFFFFF;
    margin-top:15px;
}

.data{
    width: 560px;
    height: 57px;
}

.gender_block{
    display: flex;
    justify-content: space-between;
}

.gender_check-feminine{
    display: block;
    background: linear-gradient(180deg, rgba(96, 169, 255, 0) 0%, rgba(58, 231, 255, 0) 100%);
    border-radius: 15px;
    width: 270px;
    height: 57px;
    color:#FF617D;
    cursor: pointer;
    line-height: 57px;
    border: 2px solid rgb(222, 147, 34);
    border-radius: 20px;
    margin-top:15px;
}

.gender_male_change-color{
    display: block;
    background: linear-gradient(180deg, #60A9FF 0%, #3AE7FF 100%);
    width: 270px;
    cursor: pointer;
    height: 57px;
    border-radius: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 57px;
    margin-top:15px;
    font-size: 23px;
}

.gender_feminine_change-color{
    display: block;
     background: linear-gradient(180deg, #FF617D 0%, #9688E7 100%);
    width: 270px;
    cursor: pointer;
    height: 57px;
    border-radius: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    color: #FFFFFF;
    line-height: 57px;
    margin-top:15px;
}

.gender_check-male{
    display:block;
    background: linear-gradient(180deg, rgba(96, 169, 255, 0) 0%, rgba(58, 231, 255, 0) 100%);
    border-radius: 15px;
    border-radius: 15px;
    color:#3A95FF;
    width: 270px;
    cursor: pointer;
    height: 57px;
    border: 2px solid #DE9322;
    border-radius: 20px;
    line-height: 57px;
    margin-top:15px;
    font-size: 16px;
}

.textarea_registration{
    resize: none;
    width: 946px;
    height: 246px;
    border: 2px solid #DE9322;
    border-radius: 20px;
    margin-top:20px;
    margin-bottom:20px;
    padding:14px 20px;
    padding:14px 20px;
    color: #757575;
}

.registration_btn{
    width: 260px;
    height: 65px;
    background: linear-gradient(95.92deg, #FFCD29 -5.91%, #DE9322 94.33%);
    border-radius: 20px;
    color:#ffffff;
    border:none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;  
}

.registration_btn-block{
    display: flex;
    justify-content: center;
}

.add-info_block{
    display: flex;
    justify-content: center;
}

.personal-info_wrap{
    display:flex;
    justify-content: center;
    width: 690px;
    height: 54px;
    margin:0 auto;
    align-items:center;
    margin-bottom: 19px;
}

.personal-info_text{
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color:#000000;
    width: 745px;
    height: 54px;  
}

.text_color{
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color:#ED2E2E; 
    text-decoration: underline;
}

.personal-info_wrap{
    display: flex;
}

.radio_info{
    width: 23px;
    height: 23px;
    margin-right: 24px;
}

.logo_img{
    width:260px;
    height:78px;
}

.logo_items{
    margin-left:45px;
    margin-right:45px;
}

.footer_wrap{
    display: flex;
    justify-content:space-around;
    margin-top:208px;
    align-items: center;
    background: #7D77A5;
}

.logo_img{
    width:260px;
    height:78px;
}

.logo_items{
    margin-left:15px;
}

.contacts_wrap{
    list-style-type: none;
    position: relative;
}

.contacts_items-phone, .contacts_items-email, .contacts_items-address{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: #1E1E1E;
    padding-top:19px;
    font-weight: 700;
}

.contacts_items-phone::before{
    content:url('');
    background-image: url('../img/phone.png');
    background-repeat: no-repeat;
    background-size: contain;
    width:20px;
    height: 20px;
    cursor: pointer;
    color: #1E1E1E;
    display: inline-block;
    padding-right: 20px;
    vertical-align: middle;
    background-position: center;
}

.contacts_items-email::before{
    content:url('');
    background-image: url('../img/email_footer.png');
    background-repeat: no-repeat;
    background-size: contain;
    width:20px;
    height: 20px;
    cursor: pointer;
    display: inline-block;
    padding-right: 20px;
    vertical-align: middle;
    background-position: center;
    color: #1E1E1E;
}

.contacts_items-address::before{
    display: inline-block;
    padding-right: 20px;
    vertical-align: middle;
    background-position: center;
    content:url('');
    background-image: url('../img/address.png');
    background-repeat: no-repeat;
    background-size: contain;
    width:20px;
    height:20px;
    cursor: pointer;
    color: #1E1E1E;
}

.visit_btn{
    display: block;
    width: 173px;
    height: 61px;
    background: linear-gradient(95.92deg, #FFCD29 -5.91%, #DE9322 94.33%);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    line-height: 61px;
    margin:0 auto;
    margin-top:57px;
    margin-bottom:731px;
}

.footer_social-list{
    display: flex;
    justify-content: center;
    list-style-type: none;
    width:174px;
    gap:39px;
}

.support{
    text-decoration: none;
    display: block;
    width: 174px;
    height: 46px;
    text-align: center;
    line-height: 46px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    text-transform: uppercase;
    background: linear-gradient(180deg, #FFCD29 0%, #DE9322 100%);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

@font-face {
    font-family: "inter";
    src: url("inter.woff") format("woff"),
    url("/fonts/inter") format("woff");
    font-weight: normal;
    font-style: normal;
}
#male, #feminine{
    display:none;
}

#clear{
display:none;
}

@media  (max-width: 425px){
    html, body {
        overflow-x: hidden;
      }
      body {
        position: relative
      }
    .header-wrap{
        margin-bottom:0;
    }

    .header-wrap{
        margin-bottom:70px;
    }

    .gender_feminine_change-color{
        width:145px;
        text-align: center;
    }

    .logo_wrap{
        padding:0;
        padding-bottom: 23px;
    }

    .gender_block{
        width:300px;
        margin:0 auto;
    }

    .gender_male_change-color{
        font-size: 22px;
        margin-top:20px;

    }

    .logo_img{
        width:60px;
        height: 30px;
    }
    
    .registration{
        margin-top:20px;
    }

    .registration_header {
        font-size: 20px;
    }

    .registration-img_block {
        width:200px;
        height: 200px;
        line-height: 170px;
        margin:0 auto;
        font-size: 18px;
    }

    .gender_male_change-color{
        width:145px;
        text-align: center;
    }
    
    .field_header{
        font-size: 18px;
        margin-top:20px;
    }

    .before_star-block::before{
        left:25px;
        width:8px;
        height: 8px;
    }

    .items_info-block::before{
        left:25px;
        top:20px;
        width:8px;
        height: 8px;

    }

   .male .gender_check-male, .femimine .gender_check-feminine{
        width:145px;
        text-align: center;
        margin-top:20px;
    }

    .registration_btn{
        margin-top: 19px;
    }
    .personal-info_wrap{
        width:320px;
    }

    .form-group_block{
        display: block;
    }

    .fio_block{
        display: block;
    }

    .textarea_registration{
        width:300px;
        margin-bottom: 20px;
    }

    .input_items{
        width:300px;
        margin:0 auto;
        margin-top:15px;
    }

    
    .footer_wrap{
        justify-content: flex-start;
        }
        
    .support{
        width: 120px;
        height: 30px;
        font-size: 8px;
        line-height: 30px;
        margin-right: 5px;
    }
    
    .logo{
        padding-left:40px;
    }
    
    .footer_social-list{
        gap:10px;
        width:100px;
    }
    .youtube, .telegram{
        width:25px;
    }
    
    
    .contacts_items-phone, .contacts_items-email, .contacts_items-address {
        display: flex;
        align-items: center;
    }

    .logo_top{
        padding-left:35px;
    }

        .contacts_items-phone, .contacts_items-email, .contacts_items-address {
        padding-top: 12px;
        padding-bottom: 3px;
    }

    .contacts_items-address {
        padding-bottom: 12px;
    }

    .contacts_items-phone::before {
        width:15px; 
        height:15px;
    }

    .contacts_items-email::before {
        width: 15px;
        height: 15px;
        cursor: pointer;
    }

    .contacts_items-address::before{
        align-items: center;
        width: 15px;
    }

    .img_registration{
        display: block;
        width:200px;
        height: 200px;
        background-size: contain;
    }

    .header-wrap{
        margin-top:30px;
    }

    .radio_info {
        margin-right: 10px;
    }

    .personal-info_text, .text_color {
        font-size: 10px;
    }
}

    @media (min-width: 425px) and (max-width: 1200px){
        html, body {
            overflow-x: hidden;
          }
          
          body {
            position: relative
          }

        .container{
            padding:0;
        }
    
        .registration_header{
            font-size: 30px;
        }
        .header-wrap{
            margin-bottom:30px;
        }
    
        .logo_wrap{
            padding:0;
            padding-bottom: 23px;
            
        }
    
        .logo_img{
            width:100px;
            height: 50px;
        }
        
        .footer_social-list{
            gap:20px;  
        }
    
        .registration-img_block {
            width:270px;
            height: 270px;
            margin-right: 0;
            margin-top: 30px;
            line-height: 270px
        }

       .male .gender_check-male,  .femimine .gender_check-feminine{
            width:160px;
            height: 45px;
            line-height: 45px;
        }

        .textarea_registration{
            width:600px;
            margin-bottom: 30px;
        }

        .input_items{
            width:340px;
            height: 45px;
            line-height: 45px;
            margin-top:8px;
        }

        .before_star-block::before, .items_info-block::before{
            top:5px;
            width: 8px;
            height: 8px;
            background-size: contain;
        }
        .field_header{
            font-size: 18px;
        }

        .gender_male_change-color, .gender_feminine_change-color{
            width:170px;
            height:45px;
            line-height: 45px;
        }
        
        .footer_wrap{
            margin-top: 50px;
        }
        .youtube, .telegram{
            width:25px;
        }
        
        .contacts_items-phone::before, .contacts_items-email::before, .contacts_items-address::before {
            width:15px;
        }

        .contacts_items-address{
            padding-bottom: 15px;
        }
        
        .logo_top{
            padding-left:35px;
        }

        .img_registration{
            display: block;
            width:270px;
            height: 270px;
            background-size: contain;
        }

        .form-group_block{
            flex-wrap: nowrap;
            justify-content: space-around;
        }

        .personal-info_wrap {
          width:560px;
        }

        .img_registration{
            display: block;
            width:270px;
            height: 270px;
            background-size: contain;
        }

        .header-wrap{
            margin-top: 0;
            padding-top: 28px;
            padding-bottom: 34px;
        }

        .support{
            font-size: 14px;
            margin-right: 7%;
        }

        .logo_img-footer{
            width:100px;
            height: 50px;
            padding-left: 40px;
        }
    
    }