*{
    padding:0;
    margin:0;
}

body {
    background-image: url(../img/background_page.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    padding-right:150px;
    padding-left:150px; 
}

.container{
    max-width:1440px;
    margin:0 auto;   
}

.site-search{
    width:302px;
    height: 33px;
    padding-left:24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border:none;
}

.office_items{
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    color: #313131;
    text-decoration: none;
    padding-right: 5px;
}

.exit_items{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    color: #313131;
    text-decoration: none;
    border-left:2px solid  #313131;
    padding-left:5px;
    vertical-align: middle;
    padding-top:5px; 
}

.office_items::before{
  content: url('../img/email.png'); 
  width:27px;
  height:20px;
  color: #313131;
  vertical-align: middle;
  padding-right:20px;
  background-repeat: no-repeat;
}

.office_items{
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    color: #313131;
    text-decoration: none;
    padding-right: 5px;
}

.exit_items{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    color: #313131;
    text-decoration: none;
    border-left:2px solid  #313131;
    padding-left:5px;
    vertical-align: middle;
    padding-top:5px;
}

.office_items::before{
  content: url('../img/email.png'); 
  width:27px;
  height:20px;
  color: #313131;
  vertical-align: middle;
  padding-right:20px;
  background-repeat: no-repeat;
}

hr{
    display: block;
    background:#313131;
    height:2px;
    margin-top:0;
    margin-bottom:30px;
}

.applications_items-change_margin{
    margin-bottom: 30px;
    background-color: #9688E7;
    border-radius: 12px;
    font-family: 'Inter';
    font-style: normal;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    width:193px;
    height:38px;
    text-align: center;
    line-height: 38px;
    color:#FFFFFF;
}

.header-wrap{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    margin-top:43px;
    position: relative;
    margin-bottom:47px; 
}

.office-exit_btn-block{
    position: relative;
    display: flex;
    justify-content: space-between; 
}

.office-exit_btn-block::before{
    content: '0';
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width:21px;
    height:21px;
    border-radius: 50%;
    z-index: 4;
    bottom:20px;
    left:20px;
    color: #ffffff;
    background-color:#FF4545 ;
    background-repeat: no-repeat;
  }

.review_header{
    margin-top: 86px;
    margin-bottom: 86px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    color: #313131;
    text-align: center;
}

.textarea_reviews{
    overflow: auto;
    resize: none;
    width: 753px;
    height: 270px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    color: #757575;
    border: 2px solid #757575;
    border-radius: 20px;
    border:none;
    background-color:#ffffff;
    padding:23px 21px;
}

textarea::placeholder {
    padding-top: 22px;
    padding-left: 21px;
}

.reviews-one_img{
    background-image: url('../img/reviews_one.png');
    width:270px;
    height: 270px;
}

.reviews_list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height:270px;
    margin-top:78px; 
}

.reviews_lists{
    list-style-type: none;
}

.reviews-two_img{
    background-image: url('../img/reviews_two.png');
    width:270px;
    height: 270px;
}

.reviews-three_img{
    background-image: url('../img/reviews_three.png');
    width:270px;
    height: 270px;
}

.partners_lit{
    display: flex;
    justify-content: space-between;
    align-items:baseline;
    list-style-type: none;
    width:450px;
    margin-top:30px;
    margin-bottom: 93px;
}

.gosuslugi_style{
    align-self:stretch;
    padding-top:50px;
}

.partners_wrap{
    display: flex;
    justify-content:space-around
}

.support_btn{
    display: block;
    width:174px;
    height: 46px;
    margin-top:67px;
    margin-bottom: 93px;
    background-image:linear-gradient(to right, #FFCD29, #DE9322);
    border: none;
    text-transform: uppercase;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
}

.social_block{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-top:202px;
}

.social_list{
    display: flex;
    flex-wrap: wrap;
    width:100px;
    list-style-type:none;
}

.btn_wrap{
    display: flex;
    justify-content: flex-end;
}

.further_btn{
    width: 173px;
    margin-top:78px;
    height: 61px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: #FFFFFF;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    border: none;
    background-image:linear-gradient(to right, #FFCD29, #DE9322);
    text-transform: uppercase;
    cursor: pointer;
}

.footer_wrap{
    display: flex;
    justify-content:space-around;
    margin-top:208px;
    align-items: center;
    background: #7D77A5;
}

.logo_img{
    width:260px;
    height:78px;
}

.logo_items{
    margin-left:15px;
}

.contacts_wrap{
    list-style-type: none;
    position: relative;
}

.contacts_items-phone, .contacts_items-email, .contacts_items-address{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: #1E1E1E;
    padding-top:19px;
    font-weight: 700;
}

.contacts_items-phone::before{
    content:url('');
    background-image: url('../img/phone.png');
    width:20px;
    height: 20px;
    cursor: pointer;
    color: #1E1E1E;
    display: inline-block;
    padding-right: 20px;
    vertical-align: middle;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.contacts_items-email::before{
    display: inline-block;
    padding-right: 20px;
    vertical-align: middle;
    background-position: center;
    content:url('');
    background-image: url('../img/email_footer.png');
    background-size: contain;
    width:20px;
    height: 20px;
    cursor: pointer;
    color: #1E1E1E;
    background-repeat: no-repeat;
}

.contacts_items-address::before{
    display: inline-block;
    padding-right: 20px;
    vertical-align: middle;
    background-position: center;
    content:url('');
    background-image: url('../img/address.png');
    width:20px;
    height: 20px;
    cursor: pointer;
    color: #1E1E1E;
    background-repeat: no-repeat;
    background-size: contain;
}

.contacts_items-address{
  padding-bottom: 19px;
}

.visit_btn{
    display: block;
    width: 173px;
    height: 61px;
    background: linear-gradient(95.92deg, #FFCD29 -5.91%, #DE9322 94.33%);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    line-height: 61px;
    margin:0 auto;
    margin-top:57px;
    margin-bottom:731px;
}

.footer_social-list{
    display: flex;
    justify-content: center;
    list-style-type: none;
    width:174px;
    gap:39px;
}

.support{
    text-decoration: none;
    display: block;
    width: 174px;
    height: 46px;
    text-align: center;
    line-height: 46px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    text-transform: uppercase;
    background: linear-gradient(180deg, #FFCD29 0%, #DE9322 100%);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

@font-face {
    font-family: "inter";
    src: url("inter.woff") format("woff"),
    url("/fonts/inter") format("woff");
    font-weight: normal;
    font-style: normal;
}

.reg_items, .auth_items {
    text-decoration: none;
    text-align: center;
    line-height: 56px;
    width: 173px;
    display: block;
    background: linear-gradient(360deg, #FAC917 20.83%, #DE9322 100%);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    color: #ffffff;
    text-transform: uppercase;
}

.reg-auth_btn-block {
    display: flex;
    justify-content: space-between;
    width:387px;
}

.reg_items {
    position: relative;
    margin-bottom: 15px;
}

.reg_items-no-svg {
    position: relative;
    margin-bottom: 15px;
    text-decoration: none;
    text-align: center;
    line-height: 56px;
    width: 173px;
    display: block;
    background: linear-gradient(360deg, #FAC917 20.83%, #DE9322 100%);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    color: #ffffff;
    text-transform: uppercase;
}

@media  (max-width: 425px){
    html, body {
        overflow-x: hidden;
      }
      
      body {
        position: relative
      }

      .container{
        padding:0;
      }

      .logo_img {
        width: 60px;
        height: 30px;
    }
    .reg_items, .auth_items {
        width: 100px;
        height: 30px;
        line-height: 30px;
        font-size: 8px;
    }

    .reg_items-no-svg {
        width: 100px;
        height: 30px;
        line-height: 30px;
        font-size: 8px; 
    }

    .reg-auth_btn-block {
        justify-content: space-around;
        width: 160px;
        height: 40px;
        line-height: 40px;
        font-size: 8px;
        gap: 10px;
    }

    .reg_items::before {
        width: 12px;
        height: 12px;
        left: 7px;
        top: 9px;
    }

    .header-wrap {
        justify-content: space-evenly;
        gap: 30px;
        margin-top:20px;
    }

    .review_header{
        font-size: 30px;
        margin-top:0;
        margin-bottom: 0;
    }

    .reviews_list{
        justify-content: center;
        margin-top: 30px;
        height: 400px;
    }

    .reviews-one_img {
        background-image: url(../img/reviews_one.png);
        width: 200px;
        height: 200px;
        background-size: contain;
    }

    .reviews-two_img{
        width: 200px;
        height: 200px;
        background-size: contain;
    }

    .textarea_reviews{
        width:300px;
        height: 100px;
        font-size: 14px;
        margin-top: 30px;
    }

    .btn_wrap{
        justify-content: center;
    }

    .footer_wrap{
        margin-top: 100px;
        margin-right: 0;
        margin-left: 0;
    }

    .support{
        font-size: 8px;
        width:120px;
        height: 30px;
        line-height: 30px;
    }

    .youtube, .telegram {
        width: 25px;
    }

    .footer_social-list{
        justify-content: center;
    }

    .logo_img {
        width: 60px;
        height: 30px;
    }

    .footer_social-list{
        gap:10px;
        justify-content: center;
        width:100px;
    }

    .contacts_items-phone, .contacts_items-email, .contacts_items-address {
        padding-top: 12px;
    }

    .contacts_items-phone::before {
        width:15px;
        height: 15px;
    }

    .contacts_items-email::before {
        width: 15px;
        height: 15px;
        cursor: pointer;
    }
    .contacts_items-address::before{
         width:15px;
         height: 15px;
    }

    .contacts_items-address{
        display: flex;
        justify-content: center;
    }

    .contacts_items-address::before{
        width:20px;
        height: 20px;
    }

    .logo_img-footer{
        width:60px;
        height: 30px;
        padding-left: 40px;
    }

    .logo_wrap{
        padding-bottom: 23px;
    }
}
    @media (min-width: 425px) and (max-width: 1200px){
    
        html, body {
            overflow-x: hidden;
          }

          body {
            position: relative
          }

          .container{
            padding:0;
          }

          .logo_img {
            width: 100px;
            height: 58px;
            padding-left: 40px;
        }

        .reg_items, .reg_items-no-svg {
            width: 140px;
        }

        .reg_items::before {
            left: 10px;
        }

        .reg-auth_btn-block {
            width: 300px;
        }

        .review_header{
            font-size: 30px;
        }

        .textarea_reviews {
            width: 280px;
            height: 180px;
        }

        .reviews_list{
            justify-content: space-around;
            align-items: center;
        }

        .btn_wrap{
            justify-content: center;
        }

        .contacts_items-email::before{
            top:50px;
        }

        .contacts_items-email::before, .contacts_items-phone::before, .contacts_items-address::before{
            width:15px;
            height: 15px;
        }

        .contacts_items-address::before{
            width:20px;
            height: 20px;
        }

        .footer_social-list {
            gap: 20px;
        }

        .reg_items, .reg_items-no-svg {
            width: 120px;
            height: 45px;
            font-size: 14px;
            line-height: 45px;
        }

        .reg_items::before {
            content: "";
            width: 24px;
            height: 24px;
            background-image: url(../img/arrow-auth.png);
            background-repeat: no-repeat;
            background-size: contain;
            display: inline-block;
            padding-right: 10px;
            vertical-align: middle;
        }

        .reg-auth_btn-block {
            justify-content: space-around;
            width: 300px;
        }

        .logo_img-footer{
            width:100px;
            height: 50px;
            padding-left: 40px;
        }
    }